@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500&display=swap');

:root {
    --davsectiontitle-h1-fontsize: 3rem;
    --davsectiontitle-h3-fontsize: 1.2rem;
    --davsectiontitle-gap: 1rem;
    --davservicecontent-topmargin: 3.125rem;
    --davsectiontopspace: 4.5rem;
    --davfontweight-500: 500;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat Alternates", sans-serif;
}


#preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 9999999;
}

#preloader .water-text-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#preloader .water-text-container .water-text {
    margin: 0;
    color: rgba(225, 225, 225, .01);
    background-image: url("https://images.unsplash.com/photo-1499195333224-3ce974eecb47?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2cf549433129d4227d1879347b9e78ce&auto=format&fit=crop&w=1248&q=80");
    background-repeat: repeat;
    -webkit-background-clip: text;
    background-clip: text;
    animation: animate 15s ease-in-out infinite;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 40px;
    line-height: 70px;
    letter-spacing: 2px;
}

@keyframes animate {

    0%,
    100% {
        background-position: left top;
    }

    25% {
        background-position: right bottom;
    }

    50% {
        background-position: left bottom;
    }

    75% {
        background-position: right top;
    }
}

.davnavbarhamburger {
    border: 1px solid yellow;
    padding: 0px 5px;
    margin-top: 2px;
    border-radius: 5px;
}

#davnavbar {
    background-color: black;
    z-index: 999999;
    top: 0;
    position: sticky;
}

#davnavbar .davnavbarlogo a {
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
    color: yellow;
}

.davnavbaractivelink.davnavbaractivelink::after {
    width: 100%;
}

.davsectiontopspace {
    margin-top: var(--davsectiontopspace);
}

.davservicesection,
.davaboutsection,
.davfootersection,
.davtechstacksection{
    padding: 1.4rem;
}

.davaboutsection {
    background-color: black;
    color: yellow;

}

.davaboutimagecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    max-height: 200px;
    margin-bottom: 20px;
}

.davaboutimagecontainer img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.davaboutdetails {
    margin-inline: 1.5rem;
}

.davaboutdetails p {
    text-align: justify;
}

.davservicecardtitle {
    margin-top: 5px;
    font-size: 0.9rem;
    letter-spacing: 1px;

}

.davsectiontitle {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.davsectiontitle h1 {
    font-size: var(--davsectiontitle-h1-fontsize);
    font-weight: var(--davfontweight-500);
    /* color: yellow; */
}

.davsectiontitle h3 {
    font-size: var(--davsectiontitle-h3-fontsize);
    font-weight: var(--davfontweight-500);
    /* color: rgb(233, 233, 5); */
}

.davservicecard {
    position: relative;
}

.davaboutcontent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: var(--davservicecontent-topmargin);
}

.davservicecontent {
    margin-top: var(--davservicecontent-topmargin);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.davservicecard {
    background-color: #f3f3f3;
    margin: 1rem;
    max-width: 21.875rem;
    max-height: 22rem;
    text-align: center;
    padding: 1.25rem 0.625rem;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    transition: background-color .4s;
}

.davservicecard:hover {
    background-color: #e3e3e3;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.davservicecard:hover .davservicecardicon {
    transform: scale(0.9);
    box-shadow: 0px 0px 0px 10px rgba(247, 247, 6, 0.1);
}

.davservicecardicon {
    padding: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: yellow;
    transition: transform .4s;
}

.davservicecardicon i {
    font-size: var(--davsectiontitle-h3-fontsize);
    font-weight: var(--davfontweight-500);
}


.davservicecardtitle {
    margin-top: 5px;
}

.davservicecarddetails {
    letter-spacing: 1px;
    text-align: center;
    font-size: 0.9rem;
}

.davfootersection {
    background-color: black;
    color: yellow;

}

.davfootercontent {
    color: white;
    margin-top: var(--davservicecontent-topmargin);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.9rem;
}

.davfootercard {
    display: flex;
    flex-direction: column;
    width: 350px;
}

.davfootercardicon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    padding: 10px;
    text-align: center;
}

.davfootercardicon div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid yellow;
}

.davfootercardicon div i {
    font-weight: var(--davfontweight-500);
}

.davfootercarddetails {
    text-align: center;
    margin-top: 20px;
    text-wrap: wrap;

}

.davfooterextradetails {
    text-align: center;
    margin-top: 20px;
}



.davfootercardicon div i,
.davfooterextradetails h5,
.davfootercarddetails h5 {
    color: yellow;
    font-size: 1rem;
}

.davfootersocialicons {
    margin: 40px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-inline: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid yellow;
    transition: transform .4s;
}

.davfootersocialicon {
    color: yellow;
    font-size: 1.5rem;
    transition: transform .4s;
    text-decoration: none;
}

.davfootersocialicons:hover {
    transform: scale(0.9);
}

.davfootersocialicon:hover {
    transform: translateY(-5px);
}

.davfooterbottomcontainer {
    margin-top: 28px;
    margin-bottom: -25px;
    text-align: center;
}

.davfootercarddetails h5 a {
    color: yellow;
    text-decoration: none;
}

.davfooterextradetails h5 a {
    color: yellow !important;
    text-decoration: none !important;
}

.davtechstackcontent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: var(--davservicecontent-topmargin);
}

.davtechstackcard{
    background-color:white;
    margin: 0.1rem;
    width: 80px;
    height: auto;
    text-align: center;
    padding: 1.25rem 0.625rem;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    transition: background-color .4s;
}

.davtechimgcontainer{
    width: 50%;
    height: 50%;
}

.davtechimg{
    width: 100%;
    height: 100%;
    object-fit:contain;
}

.davtechstackcarddetails{
    letter-spacing: 1px;
    text-align: center;
    font-size: 1rem;
    font-weight: var(--davfontweight-500);
    color: black;
}