#profileImage{
    width: auto;
    height: auto;
    margin-bottom:20px;
    border-radius: 50%;
    margin-right: 20px;
    margin-top: 10px;
}

.black{
    background-color: black;
}


@media screen and (max-width: 1280px) {
    #profileImage{
        margin-top: 10px;
    }

} 